@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    color: #333;
    font-size: 14px;
    height: 2000px;
    overflow-x: hidden;
}
.clear_fix::before, .clear_fix::after{
    content: "";
    display: block;
    clear: both;
}
/* banner */
.banner{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
.b_1{}
.b_2{}
.b_2 a{
    display: inline-block;
}
.b_2 span{
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: relative;
}
.b_2 span::before{
    content: "";
    display: block;
    background-color: #ccc;
    width: 5px;
    height: 1px;
    position: absolute;
    left: 1px;
    bottom: 4px;
    transform: rotate(45deg);
}
.b_2 span.plus::before{
    background-color: #333;

}
.b_2 span::after{    
    content: "";
    display: block;
    background-color: #ccc;
    width: 9px;
    height: 1px;
    position: absolute;
    left: 4px;
    bottom: 6px;
    transform: rotate(-45deg);
}
.b_2 span.plus::after{
    background-color: #333;
}
.b_2 p{
    display: inline-block;
}
.b_2 .close1{
    margin-left: 12px;
    display: inline-block;
    cursor: pointer;
    border: none;
    font-size: 16px;
}
.wrap{}
/* header */
.header{
    height: 140px;
    background-color: #fff;
    /* background-color: orange; */
    padding:   0 50px ;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    z-index: 10;
}
.quick{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    /* border: 1px solid red; */
    height: 30px;
    line-height: 30px;
    padding-top: 5px;
}
.quick > a{
    display: block;
    height: 14px;
    line-height: 14px;
    border-right: 1px solid #ccc;
    padding: 0 10px;
    color: #666;
}
.quick > a:hover{
    color: #000;
}
.quick_select{

}
.quick_select > li{
    position: relative;
}
.quick_select > li > a{
    display: block;
    padding-left: 10px;
    height: 14px;
    line-height: 14px;
    color: #666;
}
.quick_select > li > a:hover{
    color: #000;
}
.quick_select > li > a span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    /* border: 1px solid red; */
    background-image: url("../img/down.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.quick_select_sub{
    position: absolute;
    right: 0;
    top: 25px;
    border: 1px solid #999;
    padding: 5px;
    width: 90px;
    display: none;
    background-color: #fff;
}
.quick_select_sub.on{
    display: block;
}
.quick_select_sub li{
    padding: 3px 0;
    color: #666;
}
.quick_select_sub li:hover{
    color: #000;
}
.quick_select_sub li a{}



.header_fix{
    position: relative;
}
.heder_icon{
    /* border: 1px saddlebrown solid; */
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
}
.heder_icon a{
    margin-left: 20px;
    display: inline-block;
    height: 25px;
    line-height: 25px;
}
.heder_icon a img{
    height: 25px;
    vertical-align: middle;
}
.header_main{
    width: 100%;
    height: 100px;
    margin-top: 10px;
}
.logo{
    width: 200px;
    height: 40px;
    margin: 0 auto;
}
.nav{
    /* border: 1px solid darkblue; */
    margin: 0 auto;
    /* margin-top: 10px; */
}
.main{
    display: flex;
    justify-content: center;
}
.main > li{
    margin: 0 30px;
    position: relative;
    height: 60px;
    line-height: 60px;
    border-radius: 2%;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
}
.main > li:hover{
    border-bottom: 2px solid #bbb;
}
.main > li > a{
    display: block;
    color: #333;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}
.sub{
    border: 1px solid #ccc;
    /* border-top-color: transparent; */
    position: absolute;
    left: 0;
    top: 60px;
    display: none;
    background-color:#fff ;
}
.sub li{}
.sub li a{
    display: block;
    color: #555;
    width: 120px;
    text-align: center;
}
.sub li a:hover{}
/* img_slide */
.img_slide{
    position: relative;
}
.fade{
    position: absolute;
    left: 0;
    top: 200px;
    width: 1920px;
    height: 697px;
}
.fade .slick-slide{
    width: 1920px;
    height: 697px;
}
.fade .slick-dots{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.fade .slick-dots li{
    display: inline-block;
    margin: 0 5px;
}
.fade .slick-dots li button{
    display: block;
    border: none;
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}
.fade .slick-dots li.slick-active button{
    background-color: #333;
}

.container{
    width: 1300px;
    /* height: 300px; */
    margin: 199px auto 0;
    /* background-color: cadetblue; */

}
.container > div{
    padding-top: 120px;
}
.c_title{
    font-size: 26px;
    text-align: center;
}
.c_sub_title{
    margin: 10px 0 30px;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    color: #999;
}
.store{}

.s_product{
    display: flex;
    justify-content: space-between;
}
.s_box{
    width: 400px;
    /* border: 1px saddlebrown solid; */
    position: relative;
}
.s_box img{}
.s_box h3{
    margin: 10px 0;
}
.s_box p{
    color: #999;
    font-weight: 400;
}
.s_box:hover p{
    text-decoration: underline;
}
.s_box span{
    position: absolute;
    right: 0;
    bottom: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    text-indent: -9999px;
    background-image: url("../img/up.png");
    background-size: 14px 7px;
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(90deg);
    
}
.a_product{
    width: 1300px;
    display: flex;
    justify-content: space-between;
}
.a_cont{
    width: 300px;
    position: relative;
}
.a_cont:hover .wish, .a_cont:hover .add{
    opacity: 1;
}
.a_cont img{
    width: 100%;
}
.name{
    color: #999;
    margin: 10px 0;
}
.price{
    font-weight: bold;
    color: #222;
    font-size: 15px;
}
.best{
    color: #ccc;
    background: #222;
    width: 50px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-top: 5px;
    font-size: 13px;
}
.new{
    color: #222;
    background: #fff;
    border: 1px solid #ccc;
    width: 50px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-top: 5px;
    font-size: 13px;
}
.wish , .add{
    position: absolute;
    top: 175px;
    border: 1px solid #888;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px 18px;
    border-radius: 10px;
    font-size: 12px;
    opacity: 0;
    transition: all 0.3s;
}
.wish{
    left: 80px;    
}
.add{
    right: 80px;    
}
.wish:hover , .add:hover{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}
.campaign{}
.video{
    margin-top: 60px;
    width: 1300px;
    height: 686px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("https://i.vimeocdn.com/video/1231926190-9640b24205bc67f78bf6a5288e3af8533cadf62983e88667938a504bf04ff674-d?mw=1300&mh=686");
}
video{
    width: 100%;
}
.seller {
    position: relative;
    width: 1300px;
    height: 630px;
}
.seller h4{
    font-size: 18px;
    font-weight: 200;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: -50px;;
    z-index: 500;
    color: #bbb;
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}
.seller h4.on{
    color: #333;
    border-bottom: 2px solid #bbb;
}
.seller ul{
    display: flex;
    justify-content: space-between;
    width: 1300px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.seller ul.on{
    display: flex;
}
.seller ul li{
    width: 240px ;
    position: relative;
    transition: all 0.3s;
}
.seller ul li a{}
.seller ul li a img{
    width: 100%;
}
.seller ul li a p{}

.seller ul li:hover .wish, .seller ul li:hover .add{
    opacity: 1;
}

.seller .wish{
    left: 50px;
    transition: all 0.3s;

}
.seller .add{
    right: 50px;
    transition: all 0.3s;

}
.seller > div{
    position: absolute;
    left: 0;
    top: 250px;
}

.necklace h4{
    left:430px;
}
.earring h4{
    left: 570px;
}
.ring h4{
    left: 690px;
}
.bracelet h4{
    left: 800px;
}
.middle_banner{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    padding: 130px 0 0 ;
}
.sale{
    /* border: 1px solid royalblue; */
}
.s_i_product{
    display: flex;
    justify-content: space-between;
}
.s_i_box{
    width: 400px;
    position: relative;
}
.s_i_box img{
    width: 100%;
}
.s_i_box .wish , .s_i_box .add{
    position: absolute;
    top: 250px;
    border: 1px solid #888;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px 18px;
    border-radius: 10px;
    font-size: 12px;
    opacity: 0;
    transition: all 0.3s;
}
.s_i_box:hover .wish , .s_i_box:hover .add{
    opacity: 1;
}
.s_i_box .wish:hover , .s_i_box .add:hover{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}
.s_i_box .wish{
    left: 125px;
    transition: all 0.3s;
}
.s_i_box .add{
    right: 125px;
    transition: all 0.3s;
}
.event{
    margin-top: 150px;
    background-color:beige;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:120px;
}
.e_1{
    font-weight: bold;
    font-size: 24px;
    color: #000;
    /* border: 1px solid red; */
}
.e_2{
    padding: 30px 0;
    color: #555;
    font-weight: 100;
    /* border: 1px solid red; */
}
.event a{
    padding-bottom: 2px;
    border-bottom: 1px solid #333;
    /* border: 1px solid red; */
}
.off_store{
    margin: 120px 0;
    background-color: #f7f7f7;
    padding-top: 0 !important;
    display: flex;
}
.o_s_text{
    width: 650px;
    padding: 100px 60px;
}
.o_s_text h4{
    font-size: 29px;
    margin-bottom: 30px;
}
.t1{
    font-size: 16px;
    margin-bottom: 30px;
    color: #aaa;
    font-weight: 400;
    line-height: 1.5;
}
.t2{
    font-size: 16px;
    margin-bottom: 60px !important;
    line-height: 1.5;
    color: #222;
}
.o_s_text a{
    font-size: 16px;
    border: 1px solid #222;
    font-weight: bold;
    padding: 30px;
}
.footer{
    padding: 100px 50px 20px;
    width: 100%;
    background-color: #f7f7f7;
}
.f_logo{
    width: 200px;
    height: 50px;
    /* border: 1px solid red; */
    display: block;
    margin-bottom: 50px;
}

.f_information{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
}
.f_i_1{
    /* border: 1px solid slateblue; */
    width: 40%;
}
.f_menu{
    margin-bottom: 40px;
}
.f_menu a{
    margin-right: 12px;
    color: #444;

}
.f_menu a:nth-child(3){
    color: #111;
    font-weight: bold;
}
.f_basic{
    font-weight: bold;
}
.f_b_title{
    color: #111;
    font-size: 15px;
    /* border: 1px saddlebrown solid; */
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}
.f_i_1 .f_b_title{
    margin-top: 40px;
    /* border: 1px solid red; */
}
.f_b_txt{
    font-size: 12px;
    font-weight: normal;
    line-height: 2;
    color: #444;
    }
.f_b_txt span{
    font-weight: bold;
    color: #111;
}
.f_i_2{
    /* border: 1px solid slateblue; */
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.f_down{
    margin-top: 50px;
    border-top: 1px solid #ccc;
    padding: 50px 0 30px;
    display: flex;
    justify-content: space-between;
}
.copy{
    color: #aaa;
    font-weight: 400;
    font-size: 12px;
}
.sns{
    font-weight: bold;
    /* border: 1px solid black; */
}
.sns a{
    display: inline-block;
    margin-left: 20px;
}
svg{
    /* border: 1px solid red; */
    height: 30px;
    vertical-align: middle;
    opacity: 0.5;
    transition: all 0.3s;
}
.sns a:hover svg{
    opacity: 1;
}
.sns a img{
    vertical-align: middle;
    opacity: 0.5;
}
.sns a:nth-child(4){
    margin-left: 25px;
}

.sns a:hover img{
    opacity: 1;
}